html {
    background-color: lightblue;
    font-size: 20px;
}

ul {
    background: lightyellow;
    padding: 10px;
    border: 1px solid black;
}

li {
    margin-left: 20px;
}

.nice {
    font-family: sans-serif;
}